###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> Node.js / Tailwind ###
/node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log
.DS_Store
###< Node.js / Tailwind ###

###> Build files ###
/public/build/
/public/dist/
###< Build files ###

###> IDE files ###
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace
###< IDE files ###

###> Cache files ###
.php-cs-fixer.cache
###< Cache files ###